@using OceniFilm.Models.Seznami
@using OceniFilm.Services

@*Modalno okno za dodajanje novega seznama*@
<Modal @bind-Visible="@addPlaylistModalVisible" Closing="@OnModalClosing">
    <ModalContent Centered style="background-color: black; border-color: white;">
        <ModalHeader>
            <ModalTitle>Dodaj nov seznam filmov</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody Style="padding-top: 0 !important;">
            <Field Horizontal>
                <FieldBody ColumnSize="ColumnSize.Is12">
                    <FieldLabel>Ustvari nov seznam predvajanja</FieldLabel>
                    <Div Flex="Flex.JustifyContent.Between" Width="Width.Is100">
                        <TextEdit @bind-Text="@noviSeznam" Placeholder="Vnesi ime seznama.."></TextEdit>
                        <Button Color="Color.Light" Outline Clicked="@OnAddPlaylist">
                            <Icon Name="IconName.PlusSquare"></Icon>
                        </Button>
                    </Div>
                </FieldBody>
            </Field>
        </ModalBody>
    </ModalContent>
</Modal>
<Snackbar @ref="snackbarPlaylistAddSuccess">
  <SnackbarBody>
    Nov seznam filmov uspešno dodan
  </SnackbarBody>
</Snackbar>
<Snackbar @ref="snackbarPlaylistAddFailure" Color="SnackbarColor.Danger">
  <SnackbarBody>
    Vnesite naziv novega seznama!
  </SnackbarBody>
</Snackbar>

@code {
    private Snackbar snackbarPlaylistAddSuccess;
    private Snackbar snackbarPlaylistAddFailure;

    [Inject]
    public IPlaylistService PlaylistService { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; } = null!;

    [Parameter]
    public bool addPlaylistModalVisible { get; set; }

    [Parameter]
    public EventCallback<bool> addPlaylistModalVisibleChanged { get; set; }

    private string noviSeznam;

    [Parameter]
    public EventCallback<string> noviSeznamChanged { get; set; }

    private string prikaznoIme;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await authenticationState;
        if (authState.User.Identity.IsAuthenticated)
        {
            prikaznoIme = authState.User.Identity.Name;
        }
    }

    async Task OnAddPlaylist()
    {
        if (!String.IsNullOrEmpty(noviSeznam))
        {
            SeznamFilmov novSeznamFilmov = new()
            {
                Filmi = new(),
                NazivSeznama = noviSeznam,
                Uporabnik = new() { PrikaznoIme = prikaznoIme }
            };

            await PlaylistService.CreatePlaylistAsync(novSeznamFilmov);

            addPlaylistModalVisible = false;
            await addPlaylistModalVisibleChanged.InvokeAsync(addPlaylistModalVisible);
            await noviSeznamChanged.InvokeAsync(noviSeznam);

            await snackbarPlaylistAddFailure.Hide();
            await snackbarPlaylistAddSuccess.Show();
        }
        else
        {
            await snackbarPlaylistAddSuccess.Hide();
            await snackbarPlaylistAddFailure.Show();
        }
    }

    private async Task OnModalClosing(ModalClosingEventArgs e)
    {
        addPlaylistModalVisible = false;
        await addPlaylistModalVisibleChanged.InvokeAsync(addPlaylistModalVisible);
        return;
    }
}